<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Ludus Parthenope</title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
</head>
<body id="bodysite">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('home') }}">Ludus Parthenope</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <form class="form-inline my-2 my-lg-0" method="POST" action="{{url_for('search')}}">
            <div class="form-group">
                <input class="form-control mr-sm-2" name="codice" type="search" placeholder="Codice torneo" aria-label="Codice torneo">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Cerca</button>
            </div>
        </form>
        <ul class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ url_for('home')}}">Home</a>
            <a class="nav-item nav-link active" href="{{ url_for('library')}}">Libreria</a>
            <a class="nav-item nav-link active" href="{{ url_for('team') }}">Team</a>
            <a class="nav-item nav-link active" href="{{ url_for('logout')}}">Logout</a>
        </ul>
    </div>
    <span class="navbar-text">Accesso effettuato come {{session['username']}}</span>
</nav>
<div class="jumbotron" id="jumbomain">
    <h1>Pannello Amministrazione</h1>
    <br>
    {% with messaggi = get_flashed_messages() %}
        {% if messaggi %}
            {% for messaggio in messaggi %}
                <div class="alert alert-warning" role="alert">{{ messaggio }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-md-auto">
                <h3>Aggiungi un gioco</h3>
                <br>
                <form method="POST" action="{{url_for('addgame')}}">
                    <div class="form-group">
                        <label for="Newgame">Nome gioco</label>
                        <input type="text" class="form-control" name="newgame" id="Newgame" placeholder="Titolo Gioco" maxlength="50" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Aggiungi</button>
                </form>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mx-md-auto">
                <h3>Aggiungi un torneo</h3>
                <br>
                <form method="POST" action="{{url_for('addtournament')}}">
                    <div class="form-group">
                        <label for="Newtournament">Codice torneo</label>
                        <input type="text" class="form-control" name="newtournamentid" id="Newtournament" placeholder="Codice torneo" maxlength="10" required>
                    </div>
                    <div class="form-group">
                        <label for="Newtournamentgame">Seleziona gioco</label>
                        <select class="form-control" name="newtournamentgame" id="Newtournamentgame" required>
                            {% set ngiochi = session.database.games.find({}) %}
                            {% for opzione in ngiochi %}
                                <option>{{ opzione.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="datatorneo">Data torneo</label>
                        <input type="date" class="form-control" id=datatorneo" name="newtournamentdate" required>
                    </div>
                <div class="form-group">
                    <label for="oratorneo">Orario</label>
                    <input type="time" class="form-control" id="oratorneo" name="newtournamenthour" required>
                </div>
                    <button type="submit" class="btn btn-primary">Aggiungi</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>